@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add dark mode styles */
.dark body {
  background-color: theme('colors.dark.bg');
  color: theme('colors.dark.text');
}

.dark .navbar {
  background-color: rgba(26, 26, 26, 0.9);
  border-color: theme('colors.gray.800');
}